<main class="container my-5">
  <%= render '/user_card', user: @user %>

  <div class="row gap-2 my-3">
    <% @user.posts.each do |post| %>
      <section>
        <a class="text-decoration-none" href="posts/<%= post.id %>">
          <%= render '/post_card', post: %>
        <a>
        <% post.five_most_recent_comments.each do |comment| %>
          <%= render '/comment', comment: %>
        <% end %>
      </section>
    <% end %>
  </div>
</main>
